<player-info></player-info>
<ng-template *miniGame="gameState" (finished)="onMiniGameFinished()">
</ng-template>
<investment-screen *ngIf="gameState == GameState.INVESTMENT" (finished)="onInvestmentFinished()"></investment-screen>
<running-investment-screen *ngIf="gameState == GameState.RUNNINGINVESTMENT" (lessonViewed)="onInvestmentFinished()">
</running-investment-screen>
<end-of-game-screen *ngIf="gameState == GameState.ENDOFGAME" [secondChancePriceMultiplier]="secondChancePriceMultiplier"
  (secondChance)="onSecondChance()"></end-of-game-screen>