.container {
  height: 100%;
  padding-top: 100px;
  background: linear-gradient(197.54deg, #9b51e0 0%, #bb6bd9 100%);
  .grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60%;
    button {
      border: none;
    }
    button:focus {
      outline: 0;
    }
    button.choice-1 {
      width: 300px;
      background: #dd9d71;
      box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      transform: translateX(-5%);
    }
    button.choice-2 {
      flex: 1 0 50%;
      width: 300px;
      background: #a67655;
      padding: 10px 20px 20px 0px;
      box-shadow: inset -4px -4px 0px rgba(85, 71, 71, 0.25);
      border-radius: 13px;
      transform: translateX(5%);
    }
    .btn-content {
      height: 100%;
      display: flex;
      flex-direction: column;
      img.apples {
        flex: 1 3.5 30%;
        // max-width: 100%;
        // height: auto;
      }
      .price-tag-right {
        display: flex;
        flex-direction: column;
        justify-self: end;
        align-self: end;
        transform: translateX(-6%);

        .price {
          color: #ffffff;
          font-size: 7vw;
          font-family: Balsamiq Sans;
          z-index: 9999;
          width: 100%;
          position: relative;
          top: 40px;
          left: 0;
        }
        img {
          height: auto;
          width: 100%;
          transform: scale(1.2, 1.2);
          position: relative;
          top: 0;
          left: 0;
        }
      }
      .price-tag-left {
        transform: translateX(-6%);
        position: relative;
        bottom: 15px;
        .price {
          color: #ffffff;
          font-size: 7vw;
          font-family: Balsamiq Sans;
          z-index: 9999;
          width: 100%;
          position: relative;
          top: 40px;
          left: 30px;
        }
        img {
          height: auto;
          width: 100%;
          transform: scale(1.2, 1.2);
          position: relative;
          top: 0;
          left: 30px;
        }
      }
    }
  }
}
