.container {
  height: 100%;
  padding-top: 100px;
  background: linear-gradient(197.54deg, #9b51e0 0%, #bb6bd9 100%);
  .grid {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 60%;
    button {
      border: none;
    }
    button:focus {
      outline: 0;
    }
    button.choice-1 {
      flex: 1 0 50%;
      max-width: 300px;
      background: #dd9d71;
      padding: 10px 20px 20px 20px;
      box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      transform: translateX(-5%);
    }
    button.choice-2 {
      flex: 1 0 50%;
      max-width: 300px;
      background: #a67655;
      padding: 10px 20px 20px 0px;
      box-shadow: inset -4px -4px 0px rgba(0, 0, 0, 0.25);
      border-radius: 13px;
      transform: translateX(5%);
    }
    .btn-content {
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      img.apples {
        flex: 1 3.5 30%;
        // max-width: 100%;
        // height: auto;
      }
      .price-tag-right {
        position: relative;
        height: 100%;
        transform: translateX(-6%);
        .price {
          color: #ffffff;
          font-size: 7vw;
          font-family: Balsamiq Sans;
          z-index: 9999;
          bottom: 2vw;
          padding-left: 1vw;
          left: 0;
          position: absolute;
          width: 100%;
        }
        img {
          position: absolute;
          height: auto;
          width: 100%;
          transform: scale(1.2, 1.2);
          left: 0;
          bottom: 0;
        }
      }
      .price-tag-left {
        position: relative;
        height: 100%;
        transform: translateX(12%);
        .price {
          color: #ffffff;
          font-size: 7vw;
          font-family: Balsamiq Sans;
          z-index: 9999;
          bottom: 2vw;
          padding-right: 2vw;
          left: 0;
          position: absolute;
          width: 100%;
        }
        img {
          position: absolute;
          height: auto;
          width: 100%;
          transform: scale(1.35, 1.35);
          left: 2px;
          bottom: 3px;
        }
      }
    }
  }
}
