.container {
  background: linear-gradient(262deg, #ff7854, #fd267d);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

// .content {
//   height: 100%;
//   display: flex;
//   align-items: center;
// }

h1 {
  margin: 1rem;
  font-family: Balsamiq Sans;
  color: white;
}
.card {
  box-sizing: border-box;
  height: 70%;
  width: 95%;
  padding: 20px !important;
  background: white;
  border-radius: 8px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.main-image {
  align-self: center;
  justify-self: center;
  max-height: 70%;
  max-width: 90%;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.buttons {
  margin-top: 10%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.button-tinder {
  cursor: pointer;
  text-align: center;
  margin: 0px 10px;
  padding: 10px 10px;
  font-size: 25px;
  font-weight: bold;
  line-height: 29px;
  background: #ffffff;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  border: white;
  font-family: Balsamiq Sans;
}

.negative-color {
  background: linear-gradient(#ff7956, #fd267d);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.positive-color {
  background: linear-gradient(262deg, #64f0e0, #02df8b);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
