<div class="container minigame-container" *ngIf="miniGameState === MiniGameState.GAMEPLAY">
  <timer [initialTimeInSeconds]="timeLimitInSeconds" (timeIsUp)="onMiniGameLost()"></timer>
  <div>
    <h1>Átverés vagy megbízható?</h1>
  </div>
  <img class="main-image" src="{{ selected.imgUrl }}" alt="Hamis vagy valódi?" />

  <div class="buttons">
    <div (click)="evaluateResult(false)" class="button-tinder">
      <span class="negative-color"> Átverés </span>
    </div>
    <div (click)="evaluateResult(true)" class="button-tinder">
      <span class="positive-color"> Megbízható </span>
    </div>
  </div>
</div>
<mini-game-result *ngIf="miniGameState === MiniGameState.WON || miniGameState === MiniGameState.LOST"
  [result]="miniGameState" [reward]="reward" (resultsViewed)="miniGameState = MiniGameState.LESSON">
</mini-game-result>

<lesson-screen *ngIf="miniGameState == MiniGameState.LESSON" (lessonViewed)="finished.emit()"></lesson-screen>