@import url("https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&display=swap");

#start-screen {
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(197.54deg, #6fcf97 0%, #219653 100%);
}

#start-screen-figure {
  min-width: 310px;
  width: 90%;
  max-width: 344px;
}

#logo-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  width: 90%;
  max-width: 331px;
  height: 83px;
  background: #f8a500;
  box-shadow: 0px 10px 0px #bf5a04, 0px 20px 0px #914314;
  border-radius: 13px;
  font-family: Arvo;
  font-weight: bold;
  font-size: 42px;
  line-height: 100%;
  text-align: center;
  color: #ffffff;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
}
