.container {
  height: 100%;
  width: 100%;
  background: linear-gradient(197.54deg, #fff95b 0%, #ff930f 43.75%, #ffa21a 100%);
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.end-component {
  width: 90%;
  height: 150px;
  background-color: rgba(255, 255, 255, 0.58);
  border-radius: 13px 13px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  margin-top: 20%;
}

.title {
  color: #512500;
}

.result-view {
  width: 100%;
  background: #2daeba;
  border-radius: 13px;
  height: 60px;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
  z-index: 3;
}

.circle {
  position: relative;
  left: calc(50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #2daeba;
  z-index: 1;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.result {
  position: relative;
  margin: 0px;
  display: flex;
  justify-self: center;
  align-self: center;
}

.score-coin {
  width: 29px;
  height: auto;
  margin-right: 10px;
}

.replay-button {
  max-width: 100%;
  display: flex;
  justify-self: center;
  align-self: center;
  z-index: 1;
  margin-bottom: 5%;
  margin-top: 5%;
}

.second-chance {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.characters {
  max-width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-self: center;
}

.second-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-top: 0px !important;
  padding-top: 0px !important;
  align-items: start;
}

.second-card {
  width: 100%;
  height: 70%;
  background: rgba(255, 255, 255, 0.71);
  border-radius: 0 0 13px 13px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title {
  color: #512500;
}

.content {
  position: relative;
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  z-index: 1;
}

.revive-icon {
  position: absolute;
  bottom: 20px;
  display: flex;
  align-self: center;
  width: 50%;
  z-index: 1;
  transform: scale(1);
  animation: pulse 2s infinite;
}

mat-spinner {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 100%;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2daeba;
}

.blue-button {
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.score-coin {
  margin-right: 10px;
}

.h1 {
  font-size: 20px;
}

.second-chance {
  width: 90%;
}

button:focus {
  outline: none;
  box-shadow: none;
}

@keyframes pulse {
  0% {
    transform: scale(1.4);
  }

  70% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.new-record {
  font-family: Chewy;
  font-size: 30px;
  color: #512500;
  transform: scale(1);
  animation: pulse 1s infinite;
}

///////////////////////////////////////////////////FIREWORKS////////////////////////////////////////////////////////////
$particles: 50;
$width: 500;
$height: 500;

// Create the explosion...
$box-shadow: ();
$box-shadow2: ();
@for $i from 0 through $particles {
  $box-shadow: $box-shadow, random($width)-$width / 2 + px random($height)-$height / 1.2 + px hsl(random(360), 100, 50);
  $box-shadow2: $box-shadow2, 0 0 #fff;
}
@mixin keyframes($animationName) {
  @-webkit-keyframes #{$animationName} {
    @content;
  }

  @-moz-keyframes #{$animationName} {
    @content;
  }

  @-o-keyframes #{$animationName} {
    @content;
  }

  @-ms-keyframes #{$animationName} {
    @content;
  }

  @keyframes #{$animationName} {
    @content;
  }
}

@mixin animation-delay($settings) {
  -moz-animation-delay: $settings;
  -webkit-animation-delay: $settings;
  -o-animation-delay: $settings;
  -ms-animation-delay: $settings;
  animation-delay: $settings;
}

@mixin animation-duration($settings) {
  -moz-animation-duration: $settings;
  -webkit-animation-duration: $settings;
  -o-animation-duration: $settings;
  -ms-animation-duration: $settings;
  animation-duration: $settings;
}

@mixin animation($settings) {
  -moz-animation: $settings;
  -webkit-animation: $settings;
  -o-animation: $settings;
  -ms-animation: $settings;
  animation: $settings;
}

@mixin transform($settings) {
  transform: $settings;
  -moz-transform: $settings;
  -webkit-transform: $settings;
  -o-transform: $settings;
  -ms-transform: $settings;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before,
.pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: $box-shadow2;
  @include animation(
    (1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards)
  );
}

.pyro > .after {
  @include animation-delay((1.25s, 1.25s, 1.25s));
  @include animation-duration((1.25s, 1.25s, 6.25s));
}

@include keyframes(bang) {
  to {
    box-shadow: $box-shadow;
  }
}

@include keyframes(gravity) {
  to {
    @include transform(translateY(200px));
    opacity: 0;
  }
}

@include keyframes(position) {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
