.container {
  background: linear-gradient(197.54deg, #9b51e0 0%, #bb6bd9 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mini-game-result {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 13px;
  text-align: center;
  font-family: Balsamiq Sans;
  color: white;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 48px;
  margin: 0 auto;
  width: 240px;
  margin-top: -25px;
  padding: 20px 0;
}

@keyframes grow {
  0% {
    width: 30px;
  }
  100% {
    width: 110px;
  }
}

.mini-game-result > img {
  width: 110px;
  margin-top: 10px;
  filter: drop-shadow(0px 4px 0px rgba(0, 0, 0, 0.25));
  animation: 0.5s 0s 1 grow;
}

.coins,
.hearts {
  display: flex;
  justify-content: center;
  height: 50px;
  margin-top: 20px;
}

.coins > img {
  width: 40px;
  margin-left: 10px;
}

.hearts > img {
  width: 40px;
}

.hearts > img:not(:last-child) {
  margin-right: 12px;
}
