MoneyCountingMiniGame
<div *ngIf="miniGameState === MiniGameState.GAMEPLAY">
  <timer [initialTimeInSeconds]="10" (timeIsUp)="onTimeIsUp()"></timer>
  <button (click)="onMiniGameWon()">Win</button>
  <button (click)="onMiniGameLost()">Lose</button>
</div>
<mini-game-result
  *ngIf="
    miniGameState === MiniGameState.WON || miniGameState === MiniGameState.LOST
  "
  [result]="miniGameState"
  (resultsViewed)="miniGameState = MiniGameState.LESSON"
></mini-game-result>
<lesson-screen
  *ngIf="miniGameState == MiniGameState.LESSON"
  (lessonViewed)="finished.emit()"
></lesson-screen>
