$fifty-coin: '/assets/money-counting/50_coin.svg';

.container {
  height: 100%;
  background: linear-gradient(197.54deg, #27255b 0%, #49477d 100%);
  .grid {
    display: flex;
    justify-content: center;
    .column {
      display: flex;
      width: 50%;
      max-width: 200px;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-around;
      button {
        border: 0;
        max-width: fit-content;
        background: transparent;
      }
    }
  }
}
