CasinoMiniGame
<div *ngIf="miniGameState === MiniGameState.GAMEPLAY">
  <timer
    [initialTimeInSeconds]="timeLimitInSeconds"
    (timeIsUp)="onMiniGameLost()"
  ></timer>
  <button>Win</button>
  <button>Lose</button>
</div>
<mini-game-result
  *ngIf="
    miniGameState === MiniGameState.WON || miniGameState === MiniGameState.LOST
  "
  [result]="miniGameState"
  (resultsViewed)="miniGameState = MiniGameState.LESSON"
></mini-game-result>
<lesson-screen
  *ngIf="miniGameState == MiniGameState.LESSON"
  (lessonViewed)="finished.emit()"
></lesson-screen>
