<lesson-screen *ngIf="investemnetScreenState == InvestmentScreenState.ONBOARDING"
  text="Gratulálok, ügyesen megoldottad első feladatodat! A következő oldalon az összegyűjtött pénzedet tudod befektetni. Egyszerre mindig egy befektetésed lehet, ha az lejért, akkor indíthatod a következőt. Különböző hosszúságú befektetések vannak. Minél több ideig fektetsz be, annál többet fog kamatozni! Azonban vigyázz, ha elfogy minden életed, és nincs pénzed, nemtudsz új életet venni! Azt tanácsolom, mindig legyen nálad egy kis pénz, ne fektessd be egyszerre az összeset."
  [character]="Character.BULL" (lessonViewed)="investemnetScreenState = InvestmentScreenState.NEWINVESTMENT">
</lesson-screen>

<div *ngIf="investemnetScreenState == InvestmentScreenState.FINISHEDINVESTMENT"
  class="container minigame-container reward-container">
  <h1>Befektetett pénzed kamatozott! </h1><br>
  <div class="investment-reward">
    <img src="assets/images/tick.svg">
    <div class="coins">
      <div>+{{lastInvestmentReward}} </div>
      <img src="assets/images/score-coin.svg">
    </div>
  </div>
  <button class="next-button red-button" (click)="onboardingViewed()">Tovább</button>
</div>

<div *ngIf="investemnetScreenState == InvestmentScreenState.NEWINVESTMENT" class="container minigame-container">
  <h1>Új befektetés </h1>
  <div class="set-invest-amount">
    <button class="minus" (click)="handleMinus()">-</button>
    <input type="number" class="num" [(ngModel)]="investmentAmount" />
    <button class="plus" (click)="handlePlus()">+</button>
  </div>
  <div class="investment-option-buttons">
    <div class="investment-option" (click)="addInvestment(investmentOption)"
      *ngFor="let investmentOption of investmentOptions">
      <div class="investment-duration">
        <div class="image-text-container">
          <img src="/assets/images/circle-arrow.svg">
          <div class="centered">
            {{ investmentOption.duration }}
          </div>
        </div>
      </div>
      <div class="investment-return-amount">
        + {{ investmentAmount * investmentOption.interest }}
        <img src="/assets/images/score-coins.svg">
      </div>
    </div>
  </div>
  <button class="next-button gray-button" (click)="nextClicked()">KIHAGYOM</button>
</div>