/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

h1 {
  text-align: center;
  color: white;
  font-family: Balsamiq Sans;
  font-weight: bold;
  font-size: 30px;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

.minigame-container {
  height: calc(100% - 50px);
  padding-top: 50px;
}

.red-button {
  margin-top: 30px;
  width: 40%;
  max-width: 139px;
  height: 44px;
  background: linear-gradient(0deg, #e54045 -5.9%, #f45f58 84.03%);
  border: none;
  border-radius: 13px;
  font-family: Chewy;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 3px 0px #d01618;
}

.score-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 13px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  width: 90px;
  min-height: 30px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 19px;
  font-family: Balsamiq Sans;
  font-weight: bold;
  font-size: 24px;
  color: #ffffff;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}
