/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400&family=Chewy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap');

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: white;
  font-family: Balsamiq Sans;
}

body,
html {
  height: 100%;
  margin: 0;
}
